@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* We need to correct;y map the Json editor to the design system */
div .label , label {
  color : rgb(0, 75, 147);
  font-size: 14px;
  font-weight: 600;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}
.grouping {
  
  display: block;
  font-size:12px;
  
}

/* temporary */
.design-shadow-r {
  box-shadow: 0px 0px 20px 0px #0000001A;
}




.p-grid  {
  display: flex;
}
.d-flex {
  display: flex !important;
}


.p-multiselect{
  background-color: field;
  user-select: none;
  display: flex;
    border-radius: 5px;
  border: 1px solid black;
  transition: background-color .2s, border-color .2s, color .2s, box-shadow .2s, background-size .2s cubic-bezier(.64,.09,.08,1);
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, cubic-bezier(0.64, 0.09, 0.08, 1);
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-property: background-color, border-color, color, box-shadow, background-size;
}
.p-multiselect-label-container{
  height: 29px;
  font-size:12px;
  font-family: Inter,Arial,sans-serif;
  outline-offset: 4px;
  outline-color: rgba(0, 0, 0, 0);
  line-height: 22px;
  padding-left:5px;
}

.p-inputwrapper {
  border:2px solid rgb(119, 119, 119);
 
}

.p-inputwrapper:focus-visible{
  border:2px solid rgb(49, 49,49) !important;
  
  outline: none;
}

.p-inputwrapper:hover{
  border:2px solid rgb(49, 49,49) !important;
  
  outline: none;
}



.p-multiselect-trigger-icon {
  margin-right: 5px;
}
.p-inputwrapper:focus {
  border:20px solid rgb(49, 49, 49);
  outline-color: rgba(0, 0, 0, 0);
}
.p-inputwrapper-filled {
margin-left: 5px;
}



.text-baseWhite {
  --tw-text-opacity: 1;

}

.p-button
{
  color:hsl(var(--nextui-foreground-heading)/var(--nextui-foreground-heading-opacity,var(--tw-text-opacity))) !important;
  background-color: hsl(var(--nextui-primary) / var(--nextui-primary-opacity, var(--tw-bg-opacity)));
  margin-left: 5px;
  padding:0.2em;
  font-size:12px;
  border-radius: 5px;
  line-height: 22px;
  margin-right: 5px;
  min-height:32px ;

}

.p-button-icon {
  margin-left: 5px;
}

.p-button-label {
  margin-left: 5px;
  margin-right: 5px;
}
.p-button-icon-only .p-button-label {
  margin-left:0px;
  margin-right:5px;
}
.grouping legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  unicode-bidi: isolate;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
legend label {
  align-items: flex-start !important;
}
.grouping label {
  margin-right: 15px;
  margin-left: 15px;
}
.grouping fieldset {
  padding:10px;
  border:0px;
}
.custom-remove{
  background-color: hsl(var(--nextui-danger)) !important;
  width: 32px;
  height:32px;
  color:white;
  }
.custom-station-wrapper {
position: relative;
margin-left: -5px;
padding:10px;
width:100%;
}
.add-custom {
  margin-left:10px;
  }
.p-multiselect-panel{
  background-color: hsl(var(--nextui-background));
  border:0;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  margin:0px;
}
.p-tooltip-custom
{
  background-color: yellow;
left:-100px;
top:20px;
position: absolute;
}

.fa-caret-down {
  color:hsl(var(--nextui-foreground-body));
}

.fa-caret-right {
  color:hsl(var(--nextui-foreground-body));
}

.fa-caret-down:before {
  content: "\f106";   /* Unicode for fa-angle-down */
}
.fa-caret-right:before {
  content: "\f107";  /* Unicode for fa-angle-right */
}
.p-multiselect-container {
  flex: 1 1 auto;
  cursor: pointer;
}
.p-multiselect .p-multiselect-label {
  border:0

}

.p-multiselect-label {
  line-height: 32px;
}
.p-multiselect-items-wrapper {
  overflow: auto;
  box-sizing: border-box;
  display: block;
  max-height: 200px;
}
.selected_stations {
  display: block
}
.p-multiselect-item{
  padding:.2em;
  font-weight: normal;
  position: relative;
  margin: 0;
  transition: 0;
  outline: none;
  box-sizing: border-box;
  
}
.p-inputtext {
  padding: .52em;
  font-size:12px;
  width: 100%;
  border:2px solid;
  border-radius: 4px;
  }

  .jsonspeceditor  div[data-theme="tailwind"] div[data-schematype]:not([data-schematype="object"]):hover {
    background-color: rgb(218 218 218 / 0.1);
    border-radius: 8px;
  }

.p-multiselect-header {
  display: flex;
  align-items: center;
  justify-items: space-between;
  width: 12em;
  padding: 1rem;
}
.p-highlight {
  background-color: hsl(var(--nextui-highlight));
}
.p-checkbox {
 border-radius: 50%;
 position: relative;
 height: 18px;
 width: 18px;
}



.je-header   {
  width:100%;
  background-color: rgb(218 218 218 / 0.3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left:10px;
  margin-top:5px;
  height:40px;
  padding-top:5px;
}

.je-object__container  p  {
    background-color: rgb(218 218 218 / 0.3);
    padding-left:10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.p-button-label, .p-button-icon {
  
  color:white;
}

.je-object__container  .form-group  {
  background-color: rgb(218 218 218 / 0.3);
  
  padding-left:10px;
  padding-right:10px;
  margin-top:5px;
  border-radius:8px;
  padding-bottom: 8px;
}
.je-object__container  .form-group  .text-xs {
  background-color: transparent;
}


.json-editor-btntype-toggle {
  
  color:var(currentcolor);
  }
.je-form-input-label{
  font-size:14px;
  color:hsl(var(--nextui-foreground-body) )
}


.je-ready {
  background-color: transparent;
}

.je-ready input,
.je-ready select {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 14px;
  font-weight: 400;
  color: rgb(119 119 119 / var(--tw-text-opacity));
  background-color: field !important;
  padding: 1px;
  border-width:2px;
  border-color:rgb(119, 119, 119);
  line-height: 20px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
  width: 100%;
  height:29px;
}
.form-control input:focus-visible   , .p-inputtext:focus-visible
 {
    outline-color: hsl(var(--nextui-focus) / var(--nextui-focus-opacity, 1));
    
    
}

.form-control input:hover, .form-control  select:hover{
  border:2px solid rgb(49, 49,49) !important;
}



.je-header span , fieldset legend label{
  color:hsl(var(--nextui-foreground-heading)/var(--nextui-foreground-heading-opacity,var(--tw-text-opacity)));
  font-weight: 700;
}
 


.je-checkbox{
  margin-right: 5px;
}
.jsonspeceditor .text-xs , .station_header , .p-field > .text-caps, .selected_stations div label {
  color:hsl(var(--nextui-foreground-body) )  
}
.jsonspeceditor input {
  background-color:  field  !important;
}

#specification\[daily\]\[require_day\], #specification\[daily\]\[require_night\] ,#specification\[daily\]\[avoid_twilight\] {
  position: relative;
  top:20px;
}

#specification\[daily\]\[require_night\]{
  left:5px;
}

#specification\[daily\]\[avoid_twilight\]{
  left:8px;
}


/* end of json editor block */
